body {
  font-family: "Open Sans", sans-serif;
  min-width: 340px;
}

/* BANNER */
.header-banner {
  box-sizing: border-box;
  background-color: #422755;
  color: white;
  text-align: center;
  height: 264px;
  padding: 73px 44px 93px 44px;
  margin-bottom: 56px;
}
.header-banner h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 21px;
}
.header-banner p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.container {
  max-width: 1080px;
  padding: 0 10px;
  margin: 0 auto;
}

/* SEARCH FORM*/
.header-search {
  box-sizing: border-box;
  height: 146px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 29px 16px 30px 17px;
  background-color: #FEAF3D;
  border-radius: 8px;
  margin: 0 auto;
}
@media (min-width: 1120px) {
  .header-search {
    padding: 25px 145px 26px 108px;
  }
}

.search-form {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  width: 100%;
}
.search-form input {
  border-radius: 8px;
  padding: 9px;
  border: none;
  outline: none;
  background-color: white;
}
.search-form button {
  background-color: #6E4B87;
  color: white;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
  border: none;
  border-radius: 8px;
  width: 69px;
}

.arrange {
  display: flex;
  align-items: center;
  height: 34px;
  font-size: 14px;
  justify-content: space-between;
}
.arrange span {
  font-weight: 600;
  color: white;
  white-space: nowrap;
}
.arrange select {
  height: 34px;
  width: 100%;
  padding: 7px 16px 8px 29px;
  margin-left: 20px;
  appearance: none;
  border-radius: 8px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #414141;
}

/* TASKS */
.task-grid {
  max-width: 100%;
  margin: 47px auto 28px auto;
}
.task-grid button {
  width: 100%;
  max-width: 250px;
  height: 30px;
  border: 1px solid #422755;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #422755;
  background-color: transparent;
  margin-bottom: 6px;
  margin-top: 7px;
  cursor: pointer;
}
@media (min-width: 1120px) {
  .task-grid button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
  }
}
.task-grid button:hover {
  background-color: #422755;
  color: white;
}
@media (min-width: 720px) {
  .task-grid {
    display: grid;
    gap: 23px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }
}
@media (min-width: 1120px) {
  .task-grid {
    grid-template-columns: repeat(4, 253px);
    width: 1080px;
    margin-bottom: 82px;
  }
}

.task-card {
  display: grid;
  gap: 13px;
  grid-template-columns: 147px 1fr;
  box-sizing: border-box;
  height: 210px;
  width: 100%;
  padding: 16px 14px 16px 11px;
  border: 1px solid black;
  border-radius: 14px;
  margin-bottom: 24px;
}
.task-card h3 {
  color: #414141;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (min-width: 720px) {
  .task-card {
    margin: 0;
    max-width: 100%;
  }
}
@media (min-width: 1120px) {
  .task-card {
    display: grid;
    grid-template-rows: 183px 1fr;
    gap: 11px;
    grid-template-columns: none;
    height: 401px;
    max-width: 253px;
    padding: 19px 18px 13px 17px;
  }
}

.highlight {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.highlight-mark {
  position: absolute;
  top: 25px;
  left: -5px;
  width: 102px;
  height: 29px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #422755;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.highlight-mark span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
@media (min-width: 1120px) {
  .highlight-mark {
    left: -9px;
  }
}

.task-img {
  max-width: 147px;
  overflow: hidden;
}
.task-img img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
@media (min-width: 1120px) {
  .task-img {
    max-width: 100%;
  }
}

.task-details {
  display: grid;
  grid-template-rows: 86px 1fr;
}
.task-details p {
  display: inline-block;
  margin: 0px;
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 7px;
  max-width: 100%;
  height: 62px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
@media (min-width: 1120px) {
  .task-details p {
    margin: 0px;
  }
}
@media (min-width: 1120px) {
  .task-details {
    grid-template-rows: 72px 1fr;
  }
}

.task-details-bottom {
  align-self: end;
  width: 100%;
}

.deadline {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
}

.date {
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
  color: #F04837;
}

.inclusion-date {
  font-size: 10px;
  line-height: 14px;
  color: #414141;
}

/* FOOTER */
.linx-logo {
  width: 157px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 1120px) {
  .linx-logo {
    width: 234px;
    align-self: flex-start;
  }
}

.about-us p {
  color: #414141;
  margin: 40px 17px 40px 18px;
  text-align: center;
  font-size: 12px;
  line-height: 19px;
}
@media (min-width: 1120px) {
  .about-us p {
    margin: 0 0 0 54px;
    text-align: left;
    font-size: 14px;
  }
}
@media (min-width: 1120px) {
  .about-us {
    display: flex;
    width: 987px;
    margin: 0 auto;
  }
}

.disclaimer {
  margin-top: 48px;
  position: relative;
  text-align: center;
  background-color: #422755;
  height: 126px;
}
.disclaimer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
}

/*# sourceMappingURL=index.css.map */
