/* FOOTER */

.linx-logo {
    width: 157px;
    display: block;
    margin: 0 auto;

    @include for-size(desktop-up) {
        width: 234px;
        align-self: flex-start;
    }
}

.about-us{
    p{
        color: #414141;
        margin: 40px 17px 40px 18px;
        text-align: center;
        font-size: 12px;
        line-height: 19px;

        @include for-size(desktop-up) {
            margin: 0 0 0 54px;
            text-align: left;
            font-size: 14px;
        }
    } 

    @include for-size(desktop-up) {
        display: flex;
        width: 987px;
        margin: 0 auto;
    }
}

.disclaimer {
    margin-top: 48px;
    position: relative;
    text-align: center;
    background-color: $main_color;
    height: 126px;

    p {
        @extend %centralized_position;
        width: 100%;
        color: #fff;
        font-size: 12px;
        line-height: 16px;
    }
}