body {
    font-family: $text-font;
    min-width: 300px;
}

.container {
    max-width: 1080px;
    padding: 0 10px;
    margin: 0 auto;
}

/* BANNER */
 
.header-banner {
    position: relative;
    box-sizing: border-box;
    background-color: $main_color;
    color: white;
    text-align: center;
    height: 264px;
    padding: 73px 0px 93px 0px;
    margin-bottom: 56px;
    border: none;

    h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 21px;

        @include for-size(tablet-portrait-up){
            font-size: 36px;
            line-height: 49px;
        }
    }

    p {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        margin: 0px 44px;

        @include for-size(tablet-portrait-up){
            font-size: 18px;
        }
    }
}

.angled-header-background {
    position: absolute;
    height: 45px;
    width: 100%;
    bottom: 0px;
    background: linear-gradient(to top right, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 51.5%);
}

